@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39; /* gray-900 */
  --muted: 107 114 128; /* gray-500 */
  --brand: 29 78 216; /* blue-700 */
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}
