frontend/node_modules
frontend/.next
frontend/.turbo
backend-venv/
**/__pycache__/
*.py[cod]
*.sqlite3
.DS_Store
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Lock files - using Yarn
package-lock.json
**/package-lock.json
